version: "3.9"

services:
  portal-service:
    build: .
    container_name: portal-service
    ports:
      - "4001:4001"
    restart: always
    networks:
      - shared-net

networks:
  shared-net:
    external: true
    name: gateway_app-net
